.edit {
    display: flex;
    gap: 10px;
    margin: 10px;
}

.edit input {
    border-radius: 15px;   
    background-color: rgb(235, 91, 91);    
    font-size: 1.5rem;
    padding: 8px;
    text-align: center;
    color: black;
    width: 250px;
    height: 100px;
    margin-bottom: 10px;
}

::placeholder {
    color: rgb(65, 61, 61);
    opacity: 1;
}

.buttonRow {
    display: flex;
    justify-content: center;   
    gap: 10px;                 
}