.backBtn {
    display: flex;
    justify-content: flex-start;
    padding: 10px;
}

.search {    
    display: flex;
    justify-content: center;
    margin: auto;
}

.search input {
    padding: 10px;
    font-size: 16px;
    border-radius: 10px;
    width: 300px;
}

.custom {
    display: flex;
    justify-content: center;
    margin: 20px;
}

.customForm {
    background-color: rgb(231, 231, 231);
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin: 10px;
}
.results {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    padding: 20px
}

.results input {
    padding: 10px;
    font-size: 15px;
    border-radius: 10px;
    width: 75px;
}

.results label {
    margin: 5px;
    color: white;
    font-size: 1rem;
}

h2 {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    color: aquamarine
}

.meals {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    padding: 20px
}

.totals {
    color: black;
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin: 20px;
}

.totals p {
    color: black;
}

.calories {
    background-color: rgb(231, 75, 75);
    padding: 30px;
    border-radius: 10px;
}

.proteins {
    background-color: rgb(75, 231, 75);
    padding: 30px;
    border-radius: 10px;
}

.carbs {
    background-color: rgb(75, 75, 231);
    padding: 30px;
    border-radius: 10px;
}

.fats {
    background-color: rgb(231, 231, 75);
    padding: 30px;
    border-radius: 10px;
}